table,th,td{
    border: 1px white;
    size: 5px;
    width: 150px;
    height: 50px;
}
td{
    background-color: white;
    text-align: center;
    border-radius: 15%;
}
table{
    background-color: aqua;
    border: 2px;
    padding: 1px;
}